.*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.header{
	height: 80px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
	background:  #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__flex-wrapper{
	margin-right: -30px;
	margin-left:  -30px;
}

.header__flex-inner{
	margin-right: 30px;
	margin-left: 30px;
}

.header__inner{
	display: flex;

	max-width: 1440px;
	width: 100%;
	height: 100%;
	padding-right: 135px; 
	padding-left: 135px;
}

.header__logo-wrapper{
	cursor: pointer;
	height: calc(100% - 50px);
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
}

.header__logo-img{
	height: 100%;
	width: auto;
}

.header__search-form-wrapper{
	height: 40px;
	flex-grow: 1;
	margin-top: 20px;
	margin-bottom: 20px;
}

.header__search-form{
	border: 1px solid rgba(235, 235, 241, 1);
	border-radius: 5px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.search-form__search-img{
	width: 18px;
	height: 18px;
	margin: 0 10px;
}

.search-form__input{
	outline:  none;
	border: none;
	font-size: 14px;
	width: 100%;
}

.search-form__input::placeholder {
	color: rgba(187, 196, 214, 1);
}

.header__user-wrapper{
	display: flex;
	align-items: center;
}

.header__vertical-line{
	height: 100%;
	width: 1px;
	background: rgba(235, 235, 241, 1);
}

.header__username{
	font-size: 14px;
	color: rgba(118, 130, 152, 1);
	padding-right: 10px;
	padding-left: 18px; 
}

.user-avatar{
	border-radius: 50%;
	height: 100%;
	height: 100%;
}

.header__user-avatar{
	height: 40px;
	width: 40px;
	display: flex;
}


.header__mini-user-icon{
	display: none;
}

.header__search-form-mini{
	display: none;
}

@media screen and (max-width: 768px){
	.header__inner{
		padding-right: 0;
		padding-left: 0;
	}
	.header__flex-inner{
		margin-right: 25px;
		margin-left: 25px;
	}
	.header{
		margin-right: -10px;
		margin-left: -10px;
	}
} 

@media screen and (max-width: 512px){
	.header{
		height: 60px;
		border-bottom: 1px solid rgba(187, 196, 214, 0.5);
		box-shadow: none;
	}
	.header__search-form{
		display: none;
	}
	.header__vertical-line{
		display: none;
	}
	.header__username{
		display: none;
	}
	.header__user-avatar{
		display: none;
	}
	.header__mini-user-icon{
		display: inline-block;
		height: 14px;
		margin-right: 5px;
	}	
	.header__logo-wrapper{
		height: calc(100% - 32px);
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.mini-user-icon{
		height: 18px;
		width: auto;
	}
	.header__search-form-mini{
		height: 40px;
		width: 100%;
		display: flex;
		align-items: center;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
		font-size: 14px;
		color: rgba(187, 196, 214, 1);
		margin-left: 5px; 
	}
	.search-form__input::placeholder {
		font-family: 'Montserrat', sans-serif;
		color: #BBC4D6;
	}
}




